<core-toolbar>
    <paper-button>
        <core-icon icon="menu"></core-icon>
    </paper-button><span flex>Backbone + Web Components App</span>
    <paper-button>
        <core-icon icon="search"></core-icon>
    </paper-button>
    <paper-button>
        <core-icon icon="more-vert"></core-icon>
    </paper-button>
</core-toolbar>
<google-map></google-map>