<paper-button>
    <core-icon icon="menu" class="menu-button"></core-icon>
</paper-button><span flex>Backbone and Web Components App</span>
<paper-button>
    <core-icon icon="search"></core-icon>
</paper-button>
<paper-button>
    <core-icon icon="more-vert"></core-icon>
</paper-button>